$font1: "Rubik Mono One", sans-serif;
$font2: 'Montserrat';
$resolution: 1920;
$resolution2: 320;
$blue: #24186a;
$yellow: #fdb315;
$red: #f04132;

a{
	text-decoration: none;
}
*:focus{
	outline: none;
}
html{
	width: 100%;
}

body{
	color: #ffffff;
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
	background: #24186a;
	width: 100%;
}

.container{
	width: vw(1880);
	margin: 0 auto;
	position: relative;
}

.social-block{
	.soc-link{
		border: none;
		background: $red;
		width: vw(50);
		height: vw(50);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			width: vw(20);
			height: vw(20);
			object-fit: contain;
			*{
				fill: white;
			}
		}
		&:hover{
			background: #cb382e;
		}
		+.soc-link{
			margin-top: vw(10);
		}
	}
}

.title{
	span{
		color: white;
		display: inline-block;
		&.yellow{
			background-color: $yellow;
		}
		&.blue{
			background-color: $blue;
		}
		&.red{
			background-color: $red;
		}
	}
}

.text_style{
	color: #ffffff;
	font-family: $font2;
	font-size: vw(24);
	font-weight: 500;
	line-height: vw(27);
	p{
		+p{
			margin-top: vw(25);
		}
	}
}

.blur {
	filter: blur(50px);
	transition: 1s linear;
}


.section_one{
	min-height: 100vh;
	height: max-content;
	background: url("../images/bg-top.jpg") left center no-repeat;
	background-size: cover;
	position: relative;
	&::before{
		content: "";
		background: url("../images/bg.png") left center no-repeat;
		background-size: cover;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: vw(916);
		pointer-events: none;
	}
	.container{
		min-height: 100vh;
		height: max-content;
	}
	.logo{
		display: block;
		position: absolute;
		top: vw(37);
		left: vw(25);
		width: vw(337);
		img{
			width: 100%;
			display: block;
		}
	}
	.social-block{
		position: absolute;
		left: vw(25);
		bottom: vw(38);
	}

	.maxim{
		display: block;
		width: vw(232);
		position: absolute;
		right: 0;
		top: vw(23);
		img{
			width: 100%;
			display: block;
		}
	}
	.daa{
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(296);
		height: vw(208);
		position: absolute;
		left: vw(1110);
		top: vw(55);
		background: url("../images/daa.svg") center center no-repeat;
		background-size: contain;
		span{
			color: $red;
			font-size: vw(36);
		}
	}

	.right{
		padding-top: 25vmin;
		.title{
			text-align: right;
			font-size: vw(105);
			font-weight: 400;
			line-height: 0.8;
			span{
				padding: vw(25)  vw(25)  vw(22);
			}
		}
		.text{
			width: vw(760);
			margin-top: vw(30);
			text-align: right;
			margin-left: auto;
			margin-right: vw(25);
		}
	}

	.arrow-down{
		width: vw(67.188);
		height: vw(50);
		display: block;
		background: url("../images/arr-b.png") center center no-repeat;
		background-size: contain;
		position: absolute;
		bottom: vw(50);
		left: 50%;
		margin-left: vw(-43);
		animation-name: arrow;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-fill-mode: both;
		animation-play-state: running;
	}
}

@keyframes arrow {
	0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 1; animation-timing-function: ease-in-out}
	100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,20,0,1); opacity: 1; }
}

.section_two{
	height: vw(1080);
	position: relative;
	&::before{
		content: "";
		background: url("../images/bg2.png") right center no-repeat;
		background-size: cover;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: vw(1111);
		pointer-events: none;
	}
	.container{
		position: relative;
	}
	.middle{
		position: absolute;
		width: vw(400);
		left: 50%;
		top: vw(115);
		margin-left: vw(-200);
		pointer-events: none;
		.title{
			color: #ffffff;
			font-size: vw(105);
			font-weight: 400;
			text-align: center;
			span{
				box-sizing: border-box;
				width: 100%;
			}
		}
		.text{
			color: #ffffff;
			font-family: $font2;
			font-size: vw(26);
			font-weight: 500;
			text-align: center;
			margin-top: vw(240);
		}
	}

	.swiper-container{
		padding-top: vw(115);
	}
	.slider{
		.girls{
			display: flex;
			justify-content: space-between;
			width: vw(1604);
			margin: 0 auto;
			.girl-block{
				width: vw(583);
				.img{
					display: flex;
					width: 100%;
					height: vw(795);
					align-items: center;
					justify-content: center;
					position: relative;
					overflow: hidden;
					background: black;
					box-sizing: border-box;
					.image{
						width: 100%;
						height: 100%;
						display: block;
						background-size: cover;
						background-position: center;
						position: absolute;
						left: 0;
						top: 0;
						svg{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.likes{
						position: relative;
						z-index: 10;
						color: $red;
						font-size: vw(105);
						line-height: 0.8;
						display: none;
					}
					.like{
						position: absolute;
						z-index: 2;
						width: vw(90);
						height: vw(90);
						border-radius: 100%;
						background: $blue;
						bottom: vw(25);
						left: 50%;
						margin-left: vw(-45);
						cursor: pointer;
						border: none;
						display: flex;
						align-items: center;
						justify-content: center;
						svg{
							width: 80%;
							margin-top: vw(5);
							path{
								fill: $red;
							}
						}
						&:hover{
							transform: scale(1.1);
						}
					}
					&.liked{
						border: $red vw(10) solid;
					}
				}
				.flex-row{
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					margin-top: vw(23);
					audio{
						display: none;
					}
					.play{
						display: block;
						border: none;
						background: url("../images/play.png") center center no-repeat;
						background-size: contain;
						width: vw(93);
						height: vw(93);
						cursor: pointer;
						&:hover{
							transform: scale(1.1);
						}
						&.pause{
							background-image: url("../images/pause.png");
						}
					}
					.name{
						color: $red;
						font-size: vw(36);
						max-width: 75%;
						padding: vw(5) vw(10);
						span{
							background: $blue;
							white-space:pre-wrap;
							padding: vw(5) vw(10);
							padding-left:0;
							box-shadow: vw(-10) 0 0 $blue;
						}
					}
					.age{
						margin-top: vw(10);
						margin-left: vw(10);
						color: $blue;
					}
				}

				&.right-girl{
					.flex-row{
						.play{
							background: url("../images/play_2.png") center center no-repeat;
							background-size: contain;
							&.pause{
								background-image: url("../images/pause_2.png");
							}
						}
						.name{
							color: $blue;
							span{
								background: $red;
								box-shadow: vw(-10) 0 0 $red;
							}
						}
						.age{
							color: $red;
						}
					}
				}
			}
		}
		.swiper-button-prev,
		.swiper-button-next{
			width: vw(50);
			height: vw(87);
			display: block;
			background: url("../images/arr-r.png") center center no-repeat;
			background-size: contain;
			&::after{
				display: none;
			}
		}
		.swiper-button-next{
			right: vw(20);
		}
		.swiper-button-prev{
			transform: scaleX(-1);
			left: vw(20);
		}
	}
}


.section_three{
	position: relative;
	padding-top: vw(40);
	background: $yellow;
	&::before{
		content: "";
		background: url("../images/bg3.png") right center no-repeat;
		background-size: cover;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: vw(1105);
		pointer-events: none;
	}
	.title{
		color: #ffffff;
		font-size: vw(105);
		font-weight: 400;
		line-height: 0.8;
		text-align: center;
		span{
			padding: vw(25)  vw(25)  vw(22);
		}
	}

	.list{
		margin-top: vw(20);
		padding: 0 vw(60);
		ol {
			list-style: none;
			padding-left: 0px;
			counter-reset: item;
			display: table;
			text-align: left;
			>li {
				display: table-row;
				counter-increment: item;
				&::before {
					display: table-cell;
					counter-increment: li;
					content: counter(item, decimal-leading-zero);
					vertical-align: middle;
					color: #ffffff;
					font-size: vw(200);
					font-weight: 400;
					line-height: 0.8;
					padding: vw(13) vw(25) vw(13) vw(0);
				}
				>div{
					display: table-cell;
					vertical-align: middle;
					&.name{
						color: $red;
						font-size: vw(78);
						font-weight: 400;
						padding: vw(28) vw(50) vw(26) vw(30);
						width: vw(810);
						box-sizing: border-box;
						span{
							padding: vw(15) vw(50) vw(13) vw(0);
							background: $blue;
							box-shadow: vw(-30) 0 0 $blue;
							white-space: pre-wrap;
						}
					}
					&.score{
						color: $blue;
						font-size: vw(105);
						font-weight: 400;
						line-height: 0.8;
						padding: vw(13) vw(0) vw(13) vw(0);
					}
				}
			}
		}

	}
}


.section_four {
	position: relative;
	padding-top: vw(50);
	background: $red;
	padding-bottom: vw(40);

	&::before {
		content: "";
		background: url("../images/bg4.png") right center no-repeat;
		background-size: cover;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: vw(1073);
		pointer-events: none;
	}

	.title{
		color: #ffffff;
		font-size: vw(105);
		font-weight: 400;
		line-height: 0.8;
		margin-left: vw(53);
		span{
			padding: vw(25)  vw(25)  vw(22);
		}
	}

	.main-block{
		position: relative;
		padding-top: vw(512);
		margin-top: vw(43);
		.main-img{
			width: vw(1536);
			margin: 0 auto;
			img{
				width: 100%;
				display: block;
			}
		}
		.top-text{
			position: absolute;
			top: 0;
			color: $red;
			font-size: vw(36);
			padding: vw(8) vw(15) vw(8) vw(15);
			span{
				padding: vw(8) vw(15) vw(8) vw(0);
				background: $blue;
				box-shadow: vw(-15) 0 0 $blue;
				white-space: pre-wrap;
			}
			&-1{
				left: vw(83);
			}
			&-2{
				left: vw(1122);
			}
		}
		.note{
			position: absolute;
			img{
				width: 100%;
				display: block;
			}
			&-1{
				left: vw(1388);
				top: vw(420);
				width: vw(69);
			}
			&-2{
				left: vw(1343);
				top: vw(290);
				width: vw(24);
			}
			&-3{
				left: vw(1067);
				top: vw(640);
				width: vw(71);
			}
			&-4{
				left: vw(607);
				top: vw(122);
				width: vw(57);
			}
			&-5{
				left: vw(577);
				top: vw(666);
				width: vw(24);
			}
			&-6{
				left: vw(153);
				top: vw(1184);
				width: vw(57);
			}
		}

		.cloud{
			position: absolute;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			&-text{
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: vw(24);
				font-weight: 400;
			}
			&-1{
				&-1{
					width: vw(285);
					height: vw(249);
					left: vw(121);
					top: vw(690);
					background-image: url("../images/t11.png");
					z-index: 1;
				}
				&-2{
					width: vw(287);
					height: vw(378);
					left: vw(8);
					top: vw(443);
					background-image: url("../images/t12.png");
					color: $blue;
					span{
						margin-bottom: vw(60);
						margin-right: vw(10);
					}
				}
			}
			&-2{
				&-1{
					width: vw(377);
					height: vw(392);
					left: vw(316);
					top: vw(217);
					background-image: url("../images/t21.png");
				}
				&-2{
					width: vw(382);
					height: vw(251);
					left: vw(535);
					top: vw(397);
					background-image: url("../images/t22.png");
					color: $blue;
					span{
						margin-left: vw(55);
						margin-top: vw(30);
					}
				}
			}
			&-3{
				&-1{
					width: vw(372);
					height: vw(320);
					left: vw(708);
					top: vw(44);
					background-image: url("../images/t31.png");
				}
				&-2{
					width: vw(308);
					height: vw(269);
					left: vw(1009);
					top: vw(211);
					background-image: url("../images/t32.png");
					color: white;
					span{
						margin-top: vw(26);
						margin-right: vw(20);
					}
				}
			}
			&-4{
				&-1{
					width: vw(377);
					height: vw(248);
					left: vw(1226);
					top: vw(538);
					background-image: url("../images/t41.png");
					z-index: 1;
				}
				&-2{
					width: vw(275);
					height: vw(399);
					left: vw(1497);
					top: vw(351);
					background-image: url("../images/t42.png");
					color: $red;
					span{
						margin-bottom: vw(5);
						margin-left: vw(14);
					}
				}
			}
		}
	}

	.text-bottom{
		display: flex;
		margin-top: vw(-25);
		margin-left: vw(115);
		p{
			color: $blue;
			font-family: $font2;
			font-size: vw(24);
			font-weight: 500;
			line-height: vw(27);
			+p{
				margin-top: 1em;
			}
		}
		.left{
			width: vw(780);
		}
		.right{
			width: vw(650);
			margin-left: vw(60);
		}
	}

	.spec-block{
		margin-top: vw(55);
		.text{
			color: $blue;
			font-size: vw(36);
			font-weight: 400;
			padding: vw(8) vw(16) vw(8) vw(16);
			box-sizing: border-box;
			margin-left: vw(80);
			line-height: 1.4;
			span{
				padding: vw(8) vw(16) vw(8) vw(0);
				background: $yellow;
				box-shadow: vw(-16) 0 0 $yellow;
				white-space: pre-wrap;
			}
		}
		.icons{
			margin-top: vw(44);
			margin-left: vw(80);
			position: relative;
			height: vw(535);
			.cloud {
				position: absolute;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				&-text {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: vw(24);
					font-weight: 400;
				}

				&-5 {
					&-1 {
						width: vw(376);
						height: vw(304);
						left: vw(0);
						top: vw(7);
						background-image: url("../images/t51.png");
						z-index: 1;
					}

					&-2 {
						width: vw(426);
						height: vw(280);
						left: vw(98);
						top: vw(253);
						background-image: url("../images/t52.png");
						color: $blue;
						font-size: vw(19);
						span {
							margin-top: vw(15);
							margin-left: vw(80);
						}
					}
				}
				&-6 {
					&-1 {
						width: vw(263);
						height: vw(278);
						left: vw(545);
						top: vw(253);
						background-image: url("../images/t61.png");
						z-index: 1;
					}

					&-2 {
						width: vw(316);
						height: vw(214);
						left: vw(423);
						top: vw(5);
						background-image: url("../images/t62.png");
						color: $red;
						span {
							margin-right: vw(22);
							margin-bottom: vw(8);
						}
					}
				}
				&-7{
					&-1 {
						width: vw(269);
						height: vw(231);
						left: vw(816);
						top: vw(14);
						background-image: url("../images/t71.png");
						z-index: 1;
					}

					&-2 {
						width: vw(279);
						height: vw(226);
						left: vw(945);
						top: vw(225);
						background-image: url("../images/t72.png");
						color: $blue;
						span {
							margin-left: vw(24);
							margin-top: vw(17);
						}
					}
				}
				&-8 {
					&-1 {
						width: vw(308);
						height: vw(269);
						left: vw(1463);
						top: vw(227);
						background-image: url("../images/t81.png");
						z-index: 1;
					}

					&-2 {
						width: vw(372);
						height: vw(320);
						left: vw(1217);
						top: vw(0);
						background-image: url("../images/t82.png");
						color: $red;
						span {
							margin-bottom: vw(32);
						}
					}
				}
			}
		}

		.flex-block{
			margin-top: vw(24);
			display: flex;
			margin-left: vw(130);
			p{
				color: $blue;
				font-family: $font2;
				font-size: vw(24);
				font-weight: 500;
				line-height: vw(27);
				+p{
					margin-top: 1em;
				}
			}
			.left{
				width: vw(575);
				margin-top: vw(58);
			}
			.right{
				width: vw(520);
				margin-top: vw(70);
			}
			.center{
				width: vw(320);
				margin-left: vw(34);
				margin-right: vw(67);
				img{
					width: 100%;
					display: block;
				}
			}
		}
		.last-text{
			color: $yellow;
			font-size: vw(36);
			font-weight: 400;
			padding: vw(8) vw(16) vw(8) vw(16);
			box-sizing: border-box;
			margin-left: vw(362);
			margin-top: vw(20);
			span{
				padding: vw(8) vw(16) vw(8) vw(0);
				background: $blue;
				box-shadow: vw(-16) 0 0 $blue;
				white-space: pre-wrap;
			}
		}
	}
}

.section_five{
	padding: vw(15) vw(17);
	img{
		width: 100%;
	}
}